.content-section {
  margin-top: 5px;
  margin-bottom: 5px;
}

.site-heading {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
}


.emphasized {
  font-style: italic;
}

.important {
  font-weight: bold;
}

.header {
  border-bottom: 2px solid darkgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #6c7379;
}

.page-container {
  padding: 0px 150px 50px 150px;
}

.pull-quote {
  float: right;
  width: 150px;
  padding: 13px;
  margin: 0 13px 13px 0;
  font-style: italic;
}

.pull-quote p {
  font-size: 0.9rem;
  color: #777474;
  margin-top: 0px;
}

blockquote {
  margin: 0; 
  font-weight: bold;
}

.featured-image {
  margin: 0.5em;
  padding: 0.5em;
  font-size: smaller;
}
.featured-image img{
  width: 100%;
}

.featured-image p {
  /* margin-top: 0px; */
}

hr {
  border-top: 0.5px solid #cfcccc;
}

.title-date {
  margin-top: -10px;
  font-size: 0.9rem;
}
.title-date h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.title-date p {
  color: #777474;
  margin-top:0px;
}

.article-text {
  line-height: 1.5rem;
}